@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
/*icons ↥ */
:root{
    --fondo:rgb(240, 248, 255);
    --colorTitulo: rgb(222, 184, 135);
    --celeste: rgb(157, 195, 239);
    --gray: rgba(212, 212, 212, 0.395);
}

/* body y html*/

body, html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 100%;
}


*{
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s;
    padding: 0;
    margin: 0;
}

/*elementos flexbox*/
.info, .coments, .encabezado, .nav, .logo, header, nav, .articulo, .about, .about-container, .about{
    display: flex;
}
.container-redes{
    display: grid;
}


nav, .about-container{
    justify-content: center;
}

.inputs, .articulo, .nav, .logo, .info, .about{
    justify-content: space-around;
}
.nav, .inputs{
    flex-direction: row;
}
.encabezado, #enviar, header, .articulo, .about{
    flex-direction: column;
}
.inputs, header, .articulo, .about, .encabezado{
    align-items: center;
}
/*fondos, decoraciones y colores*/

h1{
    color: var(--colorTitulo);
}
.btn-header, a i, .redes{
    color: var(--fondo);
}
.descripcion, .descripcionPage, .fecha, .fecha2{
    color: rgb(170, 170, 170);
}

h2{
    color: rgb(224, 198, 157);
}

.subtitulo, .links a{
    color: rgb(94, 94, 94);
}
.pieFoto, .noticia{
    color: #00000080;
}
#enviar{
    color: rgb(53, 53, 53);
}
.divisionb, .comentarios, .inputs{
    background-color: var(--gray);
}
header, section, footer{
    background-color: var(--fondo);
    
}
.btn-header, .btn-header, .redes{
    background-color: rgb(106, 168, 240);
}

.division, .divisionb{
    background-color: rgb(225, 240, 254);
}

#enviar{
    background-color: rgb(212, 212, 212);
}
header .eslogan{
    font-style: italic;
    font-weight: bold;
}
.resaltado{
    font-weight: bold;
    color: var(--celeste);
}
.noticia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, .links a{
    text-decoration: underline;
}

a i{
    text-decoration: none;
}

h2, header .eslogan, .subtitulo, .links a{
    text-transform:uppercase;
}
.nav {
    list-style: none;
}

/*tamaños, margenes y posicionamiento*/
.division, .divisionb, nav, .articulo, .info, .logo, .nav, .about-container{
    width: 100%;
}
.nav, .about{
    width: 50%;
}
.logo{
    width: 40%;
}
.links a{
    width: 10px;
}
.descripcion, .descripcionPage{
    width: 420px;
}
.about-container{
    min-height: 400px;
}
h1{
    font-size: 70px;
    margin: 0;
}
.final{
    margin-bottom: 80px;
}

header .eslogan{
    font-size: 12px;
}
.about-text{
    font-size: 18px;
}
.container-redes .redes i{
    font-size: 20px;
}
.subtitulo, .links a, .noticia, .about-title{
    font-size: 25px;
}
h2{
    font-size: 40px;
}
footer{
    font-size: 15px;
}
.redes, header .eslogan, h2, .descripcionPage, .pieFoto, footer{
    text-align: center;
}
.fecha{
    text-align: end;
}
.btn-header{ 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0px;
    padding: 15px 30px;
    letter-spacing: 0.5px;
}
.container-redes{
    gap: 1px;
    position: fixed;
    right: 0px;
    top: 30%;
    list-style: none;
}
.redes{
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    border-radius: 5px;
}
.links a, .btn-header, #enviar, .container-redes{
    cursor: pointer;
}

.fotomain{
    margin-left: 20px;
    border-radius: 5%;
    height: 300px;
    width: 350px;
}
.subpage{
    height: 400px;
    width: 450px;
    border-radius: 5%;
    border: 1.5px solid black;
}
.contenedor-noticia{
    width: 850px;
    margin-left: 110px;
}

.descripcion, .descripcionPage, .fecha, .fecha2, .links a{
    text-align: justify;
    padding-left: 20px;
}
.noticia{
    line-height: 35px;
}
.descripcionPage{
    width: auto;
    margin: 50px;
}

.pieFoto{
    font-size: small;
    margin: 20px;
}

.divisionb{
    height: 2px;
}
.division, .divisionb, .inputs, .comentarios{
    border: none;
}

.coments{
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: baseline;
}
.comentarios{
    margin-left: 110px;
    border-radius: 5px;
    max-height: 250px;
    max-width: 500px;
}

.inputs{
    height: 40px;
    width: 250px;
    margin: 50px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
#enviar{
    margin-left: 110px;
    height: 30px;
    width: 200px;
}

footer h4{
    padding: 30px;
    margin: 0%;
}

/*Animacionesy efectos*/

.btn-header:hover{
    opacity: 0.7;
    padding: 18px 30px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5));
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}
.redes:hover{
    transform: translateX(-15px);
    opacity: 0.6;
}
#enviar:hover{
    outline: var(--celeste) 2px solid;
    letter-spacing: 1px;
    background-color: aliceblue;
    color: black;
}
.comentarios:focus , .inputs:focus{
    outline: var(--celeste) 2px solid;
}
